@font-face {
    font-family: "DM Mono";
    src: url("assets/DM_Mono/DMMono-Regular.ttf");
}

input, button {
  color: transparent;
}
input::-webkit-file-upload-button {
  visibility: hidden;
}
input::before, button {
    content: 'Select a Keras JSON file';
    color: black;
    display: inline-block;
    background: white;
    border: 2px solid black;
    padding: 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    font-family: "DM Mono";
}

input:hover::before, button:hover {
    color: white;
    background: black;
}

input:focus {
    outline: none;
}
